.seatch-box {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  .search {
    height: 34px;
    margin: 0 10px;
    padding: 5px 5px 8px;
    border-radius: 3px;
    background-color: #fff;
    flex: 1;
    display: flex;
    .location {
      .name {}
      .icon-arrow {
        margin-left: 2px;
        font-size: 12px;
        color: #7f7f80;
      }
    }
    .form {
      border-left: 1px solid #e5e5e5;
      margin-left: 12px;
      line-height: 21px;
      .icon-search {
        vertical-align: middle;
        padding: 0 2px 0 12px;
        color: #9c9fa1;
        font-size: 15px;
      }
      .text {
        padding-left: 4px;
        font-size: 13px;
        color: #9c9fa1;
      }
    }
  }
  .icon-map {
    font-size: 22px;
    margin-top: 4px;
    color: #fff;
  }
}